<script>
  import {
    SvelteUIProvider,
    Footer,
    AppShell,
    Header,
    Divider,
    Container,
  } from "@svelteuidev/core";
  import { fly } from "svelte/transition";
  import { Affix, Button } from "@svelteuidev/core";

  let scrollY = 0;
  import HeadContent from "./Header.svelte";
  import FooterContent from "./Footer.svelte";
  import "./styles.css";
</script>
<svelte:window on:scroll={() => scrollY = window.scrollY } />
<SvelteUIProvider>
  <AppShell>
    <Header slot="header" height="true">
      <HeadContent />
    </Header> 
    <Container>
      <slot />
    </Container>
 
    <Footer slot="footer" height="false">
      <FooterContent />
    </Footer>
    <Affix position={{ bottom: 20, right: 20 }}>
      {#if scrollY > 0}
        <div transition:fly={{ y: 20, duration: 250 }}>
          <Button on:click={() => window.scrollTo(0, 0)}> 
            置顶
          </Button>
        </div>
      {/if}
    </Affix>
  </AppShell>
</SvelteUIProvider>

<style>
</style>
