<script>
  import {
    SimpleGrid,
    Container,
    Image,
    Divider,
    Grid,
  } from "@svelteuidev/core";
  import welcome from "$lib/images/bd_welcome.png";
  import java_logo from "$lib/images/java_logo.jpg";
  import rust_logo from "$lib/images/rust_logo.jpg";
  import javascript_logo from "$lib/images/javascript_logo.jpg";
  import mysql_logo from "$lib/images/mysql_logo.png";
  import redis_logo from "$lib/images/redis_logo.png";
  import meilisearch_logo from "$lib/images/meilisearch_logo.jpg";

  
</script>

<svelte:head>
  <title>首页</title>
  <meta name="description" content="poprlz 开发技术栈" />
</svelte:head>

<SimpleGrid cols={1}>
  <Container>
    <Image src={welcome} radius={10} />
  </Container>
  <Divider labelPosition="center"><h2 slot="label">宣言</h2></Divider>
  <Container>
    <h3>
      我生成的代码将会永远是我最好的作品。我将不会故意发布在行为或结构上有缺陷的代码。
    </h3>
    <h3>
      伴随每一次发布，我会生成一个快速、肯定以及可重复的证据让代码的每个元素都按它应该的方式工作。
    </h3>
    <h3>我将做到经常、微小地发布，这样就不妨碍别人的进步。</h3>
    <h3>
      我将勇敢地和不懈地完善代码，不放过任何机会。我将永远不会让代码变得更糟。
    </h3>
    <h3>我将永远不会停止学习及改进我的技术。</h3>
  </Container>
  <Divider labelPosition="center"><h2 slot="label">个人简介</h2></Divider>
  <Container>
    <p>
      18年软件开发相关工作经验，10年以上项目和团队管理经验。擅长写代码，对高性能，高可用性，分布式，高并发系统有一些经验和心得。喜欢关注底层技术平台和互联网行业应用。技术擅长编写Java/Rust/javascript等高级语言的过程式，面向对象和函数式代码。曾研发过电信的外呼系统，国际信用卡支付系统，电商支付系统，直播间直播通信系统和在线教育系统的。现在创业中，罗行大欧创始人，致力于为中小企业的提供数字化经营提供软件服务和数字化营销服务。
    </p>
  </Container>
  <Divider labelPosition="center"><h2 slot="label">技术栈</h2></Divider>
  <Container>
    <Grid grow={false}>
      <Grid.Col span={4}
        ><Image 
		  height=""
          radius="md"
          src={rust_logo}
          alt="构建可靠且高效软件能力的语言"
          caption="构建可靠且高效软件能力的语言"
        /></Grid.Col
      >
      <Grid.Col span={4}
        ><Image
          radius="md"
          src={java_logo}
          alt="面向对象跨平台多企业解决方案语言"
          caption="面向对象跨平台多企业解决方案语言"
        /></Grid.Col
      >
      <Grid.Col span={4}
        ><Image
          radius="md"
          src={javascript_logo}
          alt="多范式的动态脚本语言"
          caption="多范式的动态脚本语言"
        /></Grid.Col
      >
      <Grid.Col span={4}
        ><Image
          radius="md"
          src={mysql_logo}
          alt="开源，成本低，最流行的关系型数据库管理系统"
          caption="开源，成本低，最流行的关系型数据库管理系统"
        /></Grid.Col
      >
      <Grid.Col span={4}
        ><Image
          radius="md"
          src={redis_logo}
          alt="内存存储的数据结构服务器"
          caption="内存存储的数据结构服务器"
        /></Grid.Col
      > 
	<Grid.Col span={4}
        ><Image
          radius="md"
          src={meilisearch_logo}
          alt="高性价比轻量级搜索引擎"
          caption="高性价比轻量级搜索引擎"
        /></Grid.Col
      >
    </Grid>
  </Container>
</SimpleGrid>

<style>
</style>
