<script>
	import { page } from '$app/stores';
</script>

<footer> 
	 copy@right poprlz mail:4412293@qq.com 
 
</footer>

<style>
	 
	footer {
		display: flex;
		justify-content: center;
		--background: rgba(255, 255, 255, 0.7);
	}
</style>
