<script>
  import {
    Container,
    SimpleGrid,
    Grid,
    Text,
    Divider,
    Center,
    Stack,
  } from "@svelteuidev/core";
</script>

<svelte:head>
  <title>自研产品</title>
  <meta name="description" content="电商产品" />
</svelte:head>

<Container>
  <SimpleGrid cols={1}>
    <div>
      <Divider labelPosition="center"
        ><h2 slot="label">商城服务REST API</h2></Divider
      >
      <Grid>
        <Grid.Col span={4}>业务模型简单，专注于中小企</Grid.Col>
        <Grid.Col span={4}>接口对接方便</Grid.Col>
        <Grid.Col span={4}
          >提供js和Rust版版源码</Grid.Col
        >
      </Grid>
    </div>

    <div>
      <Divider labelPosition="center"
        ><h2 slot="label">短信发送服务</h2></Divider
      >
      <Text align='center' size="lg" weight={'bold'} color={'blue'}>规避违规文字，转化率高的文案，正确的反馈数据</Text>
    </div>
    <div>
      <Divider labelPosition="center"
        ><h2 slot="label">抖音数据分析服务</h2></Divider
      >
      <Text align='center' size="lg" weight={'bold'} color={'blue'}>视频SEO转化建议，以及Dou+的广告投放策略</Text>
    </div>
  </SimpleGrid>
</Container>
