<script>
  import {
    Container,
    Text,
    Timeline,
    Divider,
    Center,
    Stack,
  } from "@svelteuidev/core";
</script>

<svelte:head>
  <title>关于我们</title>
  <meta name="description" content="真男人" />
</svelte:head>

<Container>
  <h3>
    佛山罗行大欧信息科技有限公司成立于2021年，是一家专注于中小企电商销售系统开发以及品牌运营和推广，
    为客户提供一站式互联网技术开发和运营解决方案。
  </h3>
  <Divider labelPosition="center"><h2 slot="label">发展历程</h2></Divider>
  <Center>
    <Timeline active={4} lineWidth={4} bulletSize={20}>
      <Timeline.Item title="创立">
        <Text color="dimmed" size="sm">
          在兄弟姊妹的帮助下注册了轻资产公司，开始独立运营。
        </Text> 
      </Timeline.Item>

      <Timeline.Item title="研发商城">
        <Text color="dimmed" size="sm"> 
          研发了以fastify开源框架的小型电商系统服务端。
        </Text>
      </Timeline.Item>

      <Timeline.Item title="研发Rust商城">
        <Text color="dimmed" size="sm"> 
          用Rust语言重写了小型电商系统服务端。打包生产程序18M,单进程内存消耗最高80M.
        </Text>
      </Timeline.Item>

      <Timeline.Item title="短信推广营销">
        <Text color="dimmed" size="sm"> 
          用Rust编写批量发送营销短信系统，促进商家订单销售。
        </Text>
      </Timeline.Item>
    </Timeline>
  </Center>
  <Divider labelPosition="center"><h2 slot="label">联系方式</h2></Divider>
  <Center>
    <Stack align="strech">
      <Text size="lg" weight={'bold'}>mail: 4412293@qq.com</Text>
      <Text size="lg" weight={'bold'}>weixin: 13719471602</Text>
      <Text size="lg" weight={'bold'}>电话: 13719471602</Text>
    </Stack>
  </Center>
</Container>
